{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <h1 class="pick">Pick what exercises you want to do today!</h1>
    <form method="POST" action="/pick/">
        {% csrf_token %}
        <div class="exercise">
            <h2 class="pick">{{exercise.name}}</h1>
            <img src="{{ exercise.image.url }}" alt="" style="width: 60%; height: auto; max-height: 300px;">
            <h4 class="pick">Time: {{exercise.time}} min.</h4>
            <button type="submit", name="no", value="no" class="btn btn-danger" style="margin-right: 30px;">X</button>
            <button type="submit", name="yes", value="yes", class="btn btn-success" style="margin-left: 30px;">&#10003;</button>
        </div>
        <button type="submit", name="done", value="done", class="btn btn-warning" style="margin-top: 25px;" onclick="return confirmation();">Finished?</button>
    </form>
    <div style="margin-top: 15px;">
        <h2 class="pick">Time left in workout:</h2>
        <h3 class="pick">{{time}} min.</h3>
    </div>
    <!-- CONFIRM WINDOW
-->
</div>
{% endblock %}