/* CHEST */

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 525;
  z-index: -1;
}

h3 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

nav {
  z-index: 0;
}

.navbar-toggler {
  margin-right: 10px;
}

p a {
  text-decoration-color: #28a745;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 300%;
}

.top-intro h1 {
  padding-top: 150px;
  font-size: 450%;
  color: #28a745;
  padding-bottom: 100px;
}

.bb-chest {
  margin-left: 20px;
  margin-right: 20px;
}

#headers h2 {
  text-align: center;
  padding: 20px;
}

.chest a h3 {
  font-size: 125%;
  color: black;
}

.db-chest a h3 {
  font-size: 125%;
  color: black;
}

.container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  margin: 40px;
}

.container-1 img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 200px;
}

.container-1 a p {
  padding-top: 10px;
  text-align: center;
  color: black;
}

.container-1 a {
  text-decoration: none;
  box-shadow: 5px 10px grey;
}

#squares {
  padding-top: 30px;
  padding-bottom: 10px;
}

.container-1 a:hover {
  box-shadow: 5px 10px #28a745;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.primary-target {
  color: #28a745;
}

.secondary-target {
  color: #00008b;
}

/* FOR DA MODALS */

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 1;
}

#modal {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 60%;
  height: 80%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 2;
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
}

/* CONTENT WITHIN MODAL */

iframe {
  display: block;
  margin: 0 auto;
  width: 75%;
  height: 300px;
}

#modal h2 {
  text-align: center;
  padding-bottom: 20px;
}

#modal p {
  text-align: center;
  padding-top: 15px;
}

#tags {
  color: #28a745;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid black;
}

th,
tr,
td {
  border: 1px solid black;
}

/* smaller screen */

@media (max-width: 800px) {
  .container-1 {
    padding: 0px 50px 50px 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  #modal h2 {
    font-size: 1.3em;
  }

  #modal {
    padding: 2rem;
  }

  .close-modal {
    right: 0.5rem;
    top: 0rem;
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .container-1 img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100px;
  }

  iframe {
    height: 200px;
  }
}
